<div>
 <p>您的账户状态尚未转为正式用户，在您通过酷购网完成第一笔交易后，账户自动转为正式用户。
 </p>
 <p>
  如果您已经是酷购的客户，请直接联系酷购网业务人员将您的账户审核成为正式用户。
 </p>
 <p>
  谢谢您一直以来对酷购直供平台的支持！
 </p>
</div>

<input type='button' value='查询最新报价' />
<div class="info">
</div>