<div class="block1 ui-corner-all">
  <h2>Coolpur.com 酷购</h2>
  电话: 0755-83998300 

  <br />&nbsp;<br />
  <% if is_already_login? %>
    会员:<%=h session[:member_id].to_s %><br />
    <a href="member/logout">退出登录</a>
  <% else %>
    <a href="member/login">登录会员账户，<br />查询直供价格。</a>
  <% end %>
</div>

<div class="block2 ui-corner-all">
  <% brands = Brand.all(:limit => 50) 
     brands.each do |brand| %>
       <%= link_to brand.brand_name, brand %>
  <% end %>
  <p><%= link_to '全部品牌&gt;&gt;', :controller => 'brands' %></a></p>
</div>

<div>
  <img src="/images/main/all_prices.gif" alt="prices" />

</div>
<div class="block2 ui-corner-all">
  <img src="/images/main/services.gif" alt="tel" />
  <div class="contact">
    <img class="user" src="/images/users/user001.jpeg" alt="user" />
    <div class="info">
      刘生
      <img src="/images/main/qq.png" alt="QQ" /><br />
      0755-83998366
    </div>
  </div>
  <div class="contact">
    <img src="/images/users/user001.jpeg" alt="user" />
    <div>
      刘生
      <img src="/images/main/qq.png" alt="QQ" />
      0755-83998366
    </div>
  </div>
 <div class="contact">
    <img src="/images/users/user001.jpeg" alt="user" />
    <div>
      刘生
      <img src="/images/main/qq.png" alt="QQ" />
      0755-83998366
    </div>
  </div>

</div>
<% if session[:user_role]=='admin' %>
  <br />
  <div class="ui-corner-all left_body_block">
    [%= render(:partial => '/admin/admin_menu') %]
  </div>
<% end %>
