<div class="block1 ui-corner-all">
  <h2>Coolpur.com 酷购</h2>
  电话: 0755-83998300 
  <br />
  会员:<%=h session[:member_id].to_s %><br />
  <a href="member/logout">退出登录</a>
</div>

<div class="block2 labels ui-corner-all">
  <% brands = Brand.all(:limit => 50) 
     brands.each do |brand| %>
       <%= link_to brand.brand_name, brand %>
  <% end %>
  <p><%= link_to '全部品牌&gt;&gt;', :controller => 'brands' %></a></p>
</div>

<div>
  <img src="/images/main/all_prices.gif" alt="prices" style="cursor:pointer;" onclick="location.href='/search';" />
</div>

<div class="block2 ui-corner-all">
  <img src="/images/main/services.png" alt="tel" />
  <div class="contact">
    <img class="user" src="/images/users/user001.jpeg" alt="user" />
    <div class="info">
      刘生
      <img src="/images/main/qq.png" alt="QQ" /><br />
      0755-83998366
    </div>
  </div>
</div>

