
<div class="mobile_title_zone">
  <div class="title">热销机型</div>
  <div class="content">
    <% 6.times do  %>
    <div class="item">
      <div class="photo"><img height="100" src="images/mobiles/brands/TT/p1.jpg" /></div>
      
      <div class="description">
        <h2>三星S920</h2>
        市场价:<span class="deleted">1190.00</span><br />
        批发价: *
      </div>
    </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>


